<%- model_class = @customer.class -%>
<p>
    By submitting the below form, Music Glue will recieve information about environment to help us with your query. The data we collect is:
</p>
<ul>
  <li>IP Address</li>
  <li>Browser</li>
  <li>Operating system</li>
  <li>Cookies (Music Glue sites only)</li>
</ul>

<%= render :partial => 'form' %>
